/dist/
/node_modules/

# Intellij
*.iml
*/*.iml
 
# Log Files
*.log

# Keystore files
#*.jks
#gradle wrapper
gradle/
 
#some local files
*/.settings/
*/.DS_Store
.DS_Store
*/.idea/
.idea/
gradlew
gradlew.bat
unused.txt